/* General Setting */

/* Small screens (default) */
html { font-size: 100%; }
 
/* Medium screens (640px) */
@media (min-width: 40rem) { 
  html { font-size: 112%; }
}
 
/* Large screens (1024px) */
@media (min-width: 64rem) { 
  html { font-size: 120%; }
}

/* Grid */

/* Ditto */

body {
    color: #333;
    margin: 0;
    padding: 0;

    font-family: Verdana, Arial;
    font-size: 0.8rem;
}

#sidebar {
    margin-top: 0;
    padding-left: 25px;
	padding-bottom:25px;
    padding-top: 25px;

    box-shadow: 0 0 40px #CCC;
    -webkit-box-shadow: 0 0 40px #CCC;
    -moz-box-shadow: 0 0 40px #CCC;
    border-right: 1px solid #BBB;
}

@media (min-width: 40rem) {
	#sidebar {
	width: 280px;
    position: fixed;
    height: 100%;
    margin-right: 20px;
	padding-bottom:0px;
    padding-top: 0px;
    overflow-y: scroll;
    overflow: -moz-scrollbars-vertical;
	}
}

#sidebar h1 {
    font-size: 25px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

#sidebar h1 a:link, #sidebar h1 a:visited {
    color: #333;
}

#sidebar h2 {
    font-size: 15px;
}

#sidebar h5 {
    margin-top: 20px;
    margin-bottom: 0;
}

#sidebar a:visited, #sidebar a:link {
    color: #4682BE;
    text-decoration: none;
}

#sidebar ul {
    list-style-type: none;
    margin: 0;
    padding-left: 10px;
    padding-top: 0;
}

#sidebar ul li:before {  /* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
}

#sidebar ul li {
    margin-top: 0;
    margin-bottom: 2px;
    margin-left: 10px;
    padding: 0;

    text-indent: -5px;  /* to compensate for the padding for the dash */
    font-size: 0.8rem;
}

#content {
    padding-top: 10px;
    padding-bottom: 150px;
	margin-left: 20px;
	margin-right: 20px;
    font-size: 0.8rem;
	line-height:1.6rem;

    /* border: 1px solid black; */
}

@media (min-width: 40rem) {
	#content {
		width: 580px;
		padding-left:330px;
		margin-left: 0px;
		margin-right: 0px;
	}
}

#content pre {
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 13px;

    color: #FFF;

    background: #444;
    border-radius: 5px;
}

#content code {
    padding-left: 5px;
    padding-right: 5px;

    color: #FFF;
    font-size: 10px;
    font-weight: normal;
    font-family: Consolas, monospace;

    background: #444;
    border-radius: 2px;
}

#content h2 {
    margin-top: 50px;
    margin-bottom: 0px;

    padding-top: 20px;
    padding-bottom: 0px;

    font-size: 18px;
    text-align: left;

    border-top: 2px solid #666;
}

#content h3 {
    margin-top: 50px;
    margin-bottom: 0px;

    padding-top: 20px;
    padding-bottom: 0px;

    text-align: left;
    border-top: 1px dotted #777;
}

#content img {
    max-width: 90%;
    display: block;

    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 40px;

    border-radius: 5px;
}

#content ul {
    display: block;
    list-style-type: none;
}

#content ul li:before {  /* a hack to have dashes as a list style */
    content: "-";
    position: relative;
    left: -5px;
}

#content ul li {
    text-indent: -5px;  /* to compensate for the padding for the dash */
    font-size: 13px;
}

#content ul li.link {
    color: #4682BE;
    text-decoration: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
}

#content a:link, #content a:visited {
    color: #4682BE;
    text-decoration: none;
}

#back_to_top {
    display: none;
    position: fixed;

    height: 20px;
    width: 70px;
    top: 20px;

    margin-left: 60%;
    margin-top: 0px;

    color: #FFF;
    line-height: 20px;
    text-align: center;
    font-size: 10px;


    border-radius: 5px;
    background-color: #AAA;
}

#back_to_top:hover {
    background-color: #444;
    cursor: pointer;
}

#edit {
    display: none;
    position: fixed;

    height: 17px;
    width: 70px;
    top: 45px;

    margin-left: 60%;
    margin-top: 0px;

    color: #FFF;
    line-height: 17px;
    text-align: center;
    font-size: 10px;


    border-radius: 5px;
    background-color: #AAA;
}

#edit:hover {
    background-color: #444;
    cursor: pointer;
}

#loading, #error {
    display: none;
    position: fixed;

    height: 17px;
    top: 45%;

    margin-left: 560px;

    font-size: 14px;
}
